/* 슬라이더 컨테이너 */
.slider-container {
  width: 100%;
  position: relative; /* 내부 요소 위치 제어 */
}

.slick-slider {
  background-color: white;
  width: 100%;
}

.slick-slide {
  background-color: white;
}

.slick-slide img {
  width: 100%;
  height: auto;
}

/* 책 카드 스타일 */
.book-card {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: white;
  background-color: white;
  transition: transform 0.2s ease-in-out;
}

.book-card:hover {
  transform: translateY(2px);
  border-color: transparent;
}

.book-card img {
  transition: transform 0.3s ease;
}

.book-card:hover img {
  transform: scale(1.1);
}

.book-info {
  margin-top: 20px;
  text-align: center;
  position: relative; /* 텍스트 고정 */
  z-index: 1;
}

.book-info h3 {
  font-size: 1rem;
  line-height: 1.2;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: inline-block;
}

.book-info p {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* 슬라이더 컨트롤 버튼 스타일 */
.slick-prev,
.slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 40%;
  transform: translateY(-50%);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

.slick-prev:hover,
.slick-next:hover {
  transform: translateY(-50%) scale(1.3);
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

/* dots 스타일 */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* 상단 여백 추가 */
  position: static; /* dots를 슬라이더 외부로 배치 */
  padding-left: 30px;
}

.slick-dots li {
  justify-content: center;
}

.slick-dots li button {
  background: rgba(100, 150, 80, 0.5);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  border: none;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.slick-dots li.slick-active button {
  background: #4f772d;
  transform: scale(1.5);
}

.slick-dots li button:hover {
  background: rgba(144, 169, 85, 0.8);
  transform: scale(1.3);
}

.slick-dots li button:before {
  display: none;
}
