@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* box-sizing 규칙을 명시합니다. */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-display: block;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* 기본 여백을 제거하여 작성된 CSS를 더 잘 제어할 수 있습니다. */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* 핵심 body의 기본값을 설정합니다. */
body {
  min-height: 100vh;
}

/* 제목에 대한 text-wrap을 balance로 설정합니다. */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* a태그 스타일 초기화 */
a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

/* 이미지 관련 작업을 더 쉽게 합니다. */
img,
picture {
  max-width: 100%;
  display: block;
}

/* input 및 button 항목들이 글꼴을 상속하도록 합니다. */
input,
button,
textarea,
select {
  font: inherit;
}

/* 행 속성이 없는 textarea가 너무 작지 않도록 합니다. */
textarea:not([rows]) {
  min-height: 10em;
}

/* 고정된 모든 항목에는 여분의 스크롤 여백이 있어야 합니다. */
:target {
  scroll-margin-block: 5ex;
}

/* 버튼 스타일 초기화 */
button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

/* ul 스타일 초기화 */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* li 스타일 초기화 */
li {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.container {
  /* 컨테이너 스타일 */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.ad-container {
  /* 광고 컨테이너 스타일 */
  width: 100%;
  background-color: lightgray;
  margin-bottom: 20px;
}

.ad {
  /* 광고 스타일 */
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
}

.book-list-container {
  /* 책 목록 컨테이너 스타일 */
  width: 100%;
  margin-bottom: 20px;
}

.book-list {
  /* 책 목록 스타일 */
  display: flex;
  overflow-x: auto;
}

.book-card {
  /* 책 카드 스타일 */
  width: 80px;
  height: 120px;
  background-color: black;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-card img {
  /* 책 카드 이미지 스타일 */
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.category-container {
  /* 카테고리 컨테이너 스타일 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.categories {
  /* 카테고리 목록 스타일 */
  display: flex;
  overflow-x: auto;
}

.category-card {
  /* 카테고리 카드 스타일 */
  padding: 5px 10px;
  border: 1px solid black;
  margin-right: 10px;
}

.more-button {
  /* 더 보기 버튼 스타일 */
  padding: 5px 10px;
  border: 1px solid black;
}

.slick-slider,
.slick-list,
.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* slick 스타일 */
.slider-container {
  width: 100px;
  margin: 0 auto;
  /* 슬라이드 스타일 */
}

.slick-dots {
  display: flex !important;
  justify-content: center;
}

.slick-slide {
  display: flex;
  align-items: center;
}
