.custom-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
}

.slick-slider {
  background-color: white;
  width: 100%;
}

.slick-slide {
  background-color: white;
  padding: 0;
}

.slick-slide img {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.slick-list {
  padding: 0;
}

.slick-track {
  margin: 0 auto;
}

.slick-dots {
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 2px;
}

.slick-dots li button:before {
  color: gray;
  font-size: 5px;
}

.book-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  margin: 10px;
  height: 300px;
  background-color: white;
}

.book-info {
  margin-top: auto;
  text-align: center;
}

.book-info h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-info p {
  font-size: 0.9rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
}

.slick-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.ad-container {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.slick-prev,
.slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  z-index: 10;
  color: black;
  position: absolute;
}

.slick-prev span,
.slick-next span {
  color: white;
  font-size: 20px;
}

.slick-prev {
  left: -50px;
  top: 40%;
  transform: translate(-50%);
}

.slick-next {
  right: -70px;
  top: 40%;
  transform: translate(-50%);
}

.slick-prev:before,
.slick-next:before {
  content: '';
}

@media (max-width: 1024px) {
  .slick-prev,
  .slick-next {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .slick-prev,
  .slick-next {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .slick-prev,
  .slick-next {
    display: none;
  }

  .slider-container {
    padding: 10px;
  }

  .book-card img {
    margin-bottom: 5px;
  }

  .book-card {
    height: auto;
    text-align: center;
  }

  .book-info h3 {
    font-size: 1rem;
    white-space: normal;
  }

  .book-info p {
    font-size: 0.7rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}
